@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Orbitron:wght@400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400&family=Shadows+Into+Light&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins";
}

html {
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
/* general classes  */
.container {
    width: 84%;
    margin: 0 auto;
}


.primary-btn {
    background: rgba(252, 70, 107, 1);
    color: white;
    margin: 10px 0;
    font-size: 1.2em;
    font-weight: 300;
    padding: 0px 0.8em;
    width: 180px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    transition: 0.3s all;
}

.primary-second {
    background: white;
    color: #161616 !important;
    border: 1px solid #ad0537;
}

.primary-btn:hover {
    background-color: #ad0537;
    color: white;
}

.blog-btn {
    background-color: #ad0537;
}

.match-btn {
    background-color: #ad0537;
}

/* ..................  */

/* classes for hero section  */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80vh;
    background-color: #081229;
    margin-top: 3em;
    color: white;
    overflow: hidden;
    border-radius: 1em;
}

.hero-text {
    width: 50%;
    padding: 0 5em;
}

.hero-banner {
    width: 50%;
}

.hero-banner>img {
    width: 84%;
    padding-top: 8%;
}

.primary-text {
    font-size: 4em;
    line-height: 1.1em;
}

.secondary-text {
    margin: 1.5em 0;
}

.secondary-text_tm {
    display: none;
}

/* ................ */


/* match container classes  */
.match-section {
    margin: 6em 0;
}

.match-container {
    display: flex;
    justify-content: space-between;
}

.tabs {
    width: 23.5%;
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 1.5em 0;
    height: 312px;
    border-radius: 8px;
    background-color: #081229;
}

.tabs>button {
    width: 80%;
}

.card-container {
    width: 74.5%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    width: 31.6%;
    margin-bottom: 1.5em;
    border-radius: 0.5em;
    overflow: hidden;
}

.card-image {
    width: 100%;
    height: 175px;
    transition: 1s all;
    overflow: hidden;
}

.card-image:hover {
    transform: scaleX(1.1);
}

.card-image>img {
    width: 100%;
    height: 100%;
}

.card-text_container {
    margin-top: 0;
    padding: 1em 0 1em 1em;
    border-radius: 0 0 8px 8px;
    border: 1.5px solid rgba(215, 210, 210, 0.532);

}

.card-btn {
    padding: 5px 20px;
    background: none;
    border: 2px solid gray;
    border-radius: 5px;
    margin-bottom: 0.5em;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    color: rgba(22, 22, 22, 0.7);
}

.card-primary_text {
    padding: 8px 6px 16px 0;
    font-size: 18px;
    color: rgba(22, 22, 22, 0.8);
}

.card-secondary_text {
    margin-top: 5px;
    color: rgba(22, 22, 22, 0.7);
}

/* ....................... */
.flag-card {
    border: 1px solid rgba(22, 22, 22, 0.5);
    ;
    height: 242px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}

.flag-container {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2em;
}

.flag-text {
    color: rgba(22, 22, 22, 0.8);
    margin: 0.5em 0;
}


.tablet {
    display: none;
    margin: 2em auto;
}

.fa-clock,
.fa-message {
    margin-right: 8px;
}

.hour {
    margin-right: 30px;
}

/* ...................... */

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    background-color: #081229;
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    height: 200px;
    color: white;
}

.brand-container {
    margin-top: 2em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    color: rgb(147, 145, 145);
}

.brand-container>span:hover {
    text-decoration: underline;
    cursor: pointer;
}

.footer-primary_text {
    font-size: 35px;
    margin: 1em auto;
    color:white;
    text-decoration: none;
}
 
.footer-primary_text:hover {
    color: rgba(252, 70, 107, 1);
}

.footer-secondary_text {
    font-size: 13px;
    color: rgb(147, 145, 145);
    text-align: center;
    margin: 0.5em 0;
}

.line {
    margin-top: 1em;
    width: 100%;
    border: 0.5px solid rgb(147, 145, 145);
}

.social-container {
    margin-top: 2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150px;
    font-size: 25px;
}

.social-container>a {
    color: #ffffff;
    cursor: pointer;
}

.social-container>a:hover {
    color: rgba(252, 70, 107, 1);
}

/* media query  */

/* for tablet  */
@media (min-width: 767px) and (max-width: 991.98px) {
    .container {
        width: 88%;
    }

    /* for hero section responsiveness */

    .hero {
        height: 400px;
    }

    .match-section {
        margin: 3em 0;
    }

    .hero-text {
        padding: 0 1em 0 4em;
    }

    .primary-text {
        font-size: 2.5em;
    }

    .secondary-text {
        display: none;
    }

    .secondary-text_tm {
        display: block;
    }

    .hero-banner>img {
        width: 100%;
        padding-top: 15%;
        padding-right: 4%;
    }

    /* ................ */
    /* match container  */
    .match-container {
        flex-direction: column;
    }

    .tabs {
        width: 100%;
        margin-bottom: 2em;
        flex-direction: row;
        height: 80px;
        background: none;
        justify-content: space-between;
    }

    .tabs>button {
        width: 32%;
    }

    .card-container {
        width: 100%;
    }

    .card {
        width: 48%;
    }

    .card:nth-child(7),
    .card:nth-child(8),
    .card:nth-child(9) {
        display: none;
    }

    .card-image {
        width: 100%;
        height: 210px;
    }

    .card-primary_text {
        font-size: 20px;
    }

    .card-secondary_text {
        font-size: 18px;
    }

    .tablet {
        display: block;
    }

    /* ...................  */
    .brand-container {
        justify-content: center;
    }

    .brand-container>span {
        text-align: center;
        width: 22%;
        font-size: 13px;
        line-height: 50px;
    }

    .flag-container {
        width: 75%;
    }

    .footer {
        height: 500px;
    }
}

/* end tablet query  */

/* for mobile  */
@media screen and (max-width: 477px) {
    .container {
        width: 90%;
    }

    /* for hero section responsiveness  */
    .hero {
        height: 472px;
        flex-direction: column;
    }

    .hero-text {
        width: 100%;
        height: 40%;
        padding: 0 3.5em;
        text-align: center;
    }

    .hero-banner {
        width: 90%;
    }

    .hero-banner>img {
        width: 70%;
        margin: 0 20%;
        padding-top: 4em;
    }

    .primary-text {
        padding-top: 3em;
        font-size: 1.185em;
        line-height: 1.2em;
    }

    .secondary-text {
        display: none;
        font-size: 0.375em;
    }

    .secondary-text_tm {
        display: block;
        font-size: 0.875em;
    }

    .hero-btn {
        height: 40px;
        width: 150px;
        font-size: 0.9em;
        margin: 0 auto;
    }

    /* ................... */

    /* match container  */
    .match-section {
        margin: 2em 0;
    }

    .match-container {
        flex-direction: column;
    }

    .tabs {
        width: 100%;
        margin-bottom: 2em;
        flex-direction: column;
        justify-content: space-around;
        padding: 1.5em 0;
        background: none;
    }

    .tabs>button {
        width: 90%;
    }

    .card-container {
        width: 100%;
    }

    .card {
        width: 100%;
    }

    .card-image {
        width: 100%;
        height: 210px;
    }

    .card-secondary_text {
        font-size: 18px;
    }

    /* ...................  */
    .footer {
        height: 650px;
    }

    .brand-container {
        justify-content: center;
    }

    .brand-container>span {
        text-align: center;
        width: 100%;
        font-size: 14px;
        line-height: 50px;
    }
}



/* ...............  */